/* Comienza Navbar */
.material-symbols-rounded {
    margin: 10px;
    color: white;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

@media (max-width: 767.98px) {
    .navbar-brand {
        display: none;
    }
}
@media (min-width: 767.98px) {
    .inicio-nav {
        display: none;
    }
}
.img-carrito-compra {
    height: 50px;
    width: 50px;
}

.btn-carrito {
    background-color: transparent !important;
    border-color: transparent !important;
    padding: 0% !important;
}
/* Termina Navbar */
body{
    background-color: #E8E8E8;
}
.bannerPagina {
    height: 500px;
    object-fit: cover;
}
/* publicidad de marcas */
.img-publicidad{
    box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.1);
    border: 2px solid black;
    border-radius: 10%;
    background-color: white;
}
.img-publicidad:hover{
		animation-name: rebotin;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-fill-mode: none;	
}
@keyframes rebotin {
    0% {
        transform:translateY(0);
    }
    25% {
        transform:translateY(0);
    }
    40% {
        transform:translateY(-24px);
    }
    55% {
        transform:translateY(0);
    }
    65% {
        transform:translateY(-12px);
    }
    75% {
        transform:translateY(0);
    }
    82% {
        transform:translateY(-6px);
    }
    87% {
        transform:translateY(0);
    }
    93% {
        transform:translateY(-4px);
    }
    100% {
        transform:translateY(0);
    }}
    /* publicidad de productos */
    .publicidad-productos{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(94, 87, 87, 0.541);
    }
    .contenedor{    
        width: 870px;
        height: 430px;
    }
    .contenedor img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s;
    }
    .contenedor img:hover{
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    }
    /* carrito */
.img-carrito-compra{
    height: 50px;
    width: 50px;
}
/* categorias de articulos */
.card{
    width: 18rem;
}
/* Comienza el Footer */
.logo1 {
    width: 80px;
    height: 80px;
}

.logo2 {
    width: 30px;
    height: 30px;
}

.logo3 {
    width: 30px;
    height: 30px;
}

.logo4 {
    width: 30px;
    height: 30px;
}

.parrafo1 {
    font-size: 20px;
    color: white;
}

.parrafo2 {
    font-size: 20px;
    color: white;
}

.footer1 {
    background-color: #023157 !important;
    padding-top: 1vh;
    
}

.footer-logo-centro {
    justify-content: center !important;
}

.redes-sociales {
    margin-bottom: 2vh;
}